In [2]:
import pandas as pd
from IPython.display import display
from scipy import stats
import random
import math
import numpy as np
import scipy.stats as stats
from scipy.stats import norm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

In [3]:
df = pd.read_csv('kidney_disease.csv', index_col='id')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             330 non-null    object
 16  wc              295 non-null    object
 17  rc              270 non-null    object
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 81.2+ KB

In [4]:
# filling numerical column's empty row with ffill method from panda
df['age'] = df['age'].fillna(method="ffill")

df['bp'] = df['bp'].fillna(method="ffill")

df['sg'] = df['sg'].fillna(method="ffill")

df['al'] = df['al'].fillna(method="ffill")

df['su'] = df['su'].fillna(method="ffill")

df['bgr'] = df['bgr'].fillna(method="ffill")

df['bu'] = df['bu'].fillna(method="ffill")

df['sc'] = df['sc'].fillna(method="ffill")

# filling with mean method as well since ffill still leave empty row

df['sod'] = df['sod'].fillna(method="ffill")
x = df["sod"].mean()
df["sod"].fillna(x, inplace=True)

df['pot'] = df['pot'].fillna(method="ffill")
x = df["pot"].mean()
df["pot"].fillna(x, inplace=True)

df['hemo'] = df['hemo'].fillna(method="ffill")

In [5]:
# converting necessary columns to numerical type, then filling empty row with ffill method from panda

df['pcv'] = pd.to_numeric(df['pcv'], errors='coerce')
df['pcv'] = df['pcv'].fillna(method="ffill")

df['wc'] = pd.to_numeric(df['wc'], errors='coerce')
df['wc'] = df['wc'].fillna(method="ffill")

df['rc'] = pd.to_numeric(df['rc'], errors='coerce')
df['rc'] = df['rc'].fillna(method="ffill")

In [6]:
# filling categorical column's nan with ffill method from panda

df['rbc'].fillna(method='ffill', inplace=True)
df['rbc'].fillna('normal', inplace=True)

df['pc'].fillna(method='ffill', inplace=True)
df['pc'].fillna('normal', inplace=True)

df['pcc'].fillna(method='ffill', inplace=True)
df['pcc'].fillna('normal', inplace=True)

df['ba'].fillna(method='ffill', inplace=True)
df['ba'].fillna('normal', inplace=True)

df['htn'].fillna(method='ffill', inplace=True)
df['htn'].fillna('normal', inplace=True)

df['dm'].fillna(method='ffill', inplace=True)
df['dm'].fillna('normal', inplace=True)

df['cad'].fillna(method='ffill', inplace=True)
df['cad'].fillna('normal', inplace=True)

df['appet'].fillna(method='ffill', inplace=True)
df['appet'].fillna('normal', inplace=True)

df['pe'].fillna(method='ffill', inplace=True)
df['pe'].fillna('normal', inplace=True)

df['ane'].fillna(method='ffill', inplace=True)
df['ane'].fillna('normal', inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             400 non-null    object
 6   pc              400 non-null    object
 7   pcc             400 non-null    object
 8   ba              400 non-null    object
 9   bgr             400 non-null    float64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    float64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    float64
 16  wc              400 non-null    float64
 17  rc              400 non-null    float64
 18  htn             400 non-null    object
 19  dm              400 non-null    object
 20  cad             400 non-null    object
 21  appet           400 non-null    object
 22  pe              400 non-null    object
 23  ane             400 non-null    object
 24  classification  400 non-null    object
dtypes: float64(14), object(11)
memory usage: 81.2+ KB

In [7]:
# changing ckd\t value with ckd
for x in df.index:
    if df.loc[x, "classification"] == "ckd\t":
        df.loc[x, "classification"] = "ckd"
    if df.loc[x, "dm"] == "\tyes":
        df.loc[x, "dm"] = "yes"
    if df.loc[x, "dm"] == "\tno":
        df.loc[x, "dm"] = "no"
    if df.loc[x, "dm"] != "no":
        df.loc[x, "dm"] = "yes"
    if df.loc[x, "cad"] == "\tno":
        df.loc[x, "cad"] = "no"

df['classification'].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

In [8]:
for x in df.select_dtypes(include=['object']).columns:
    display(pd.crosstab(df[x], df['classification']))

classification  ckd  notckd
rbc
abnormal        109       0
normal          141     150

classification  ckd  notckd
pc
abnormal         91       0
normal          159     150

classification  ckd  notckd
pcc
notpresent      208     150
present          42       0

classification  ckd  notckd
ba
notpresent      228     150
present          22       0

classification  ckd  notckd
htn
no              103     150
yes             147       0

classification  ckd  notckd
dm
no              113     150
yes             137       0

classification  ckd  notckd
cad
no              216     150
yes              34       0

classification  ckd  notckd
appet
good            168     150
poor             82       0

classification  ckd  notckd
pe
no              174     150
yes              76       0

classification  ckd  notckd
ane
no              190     150
yes              60       0

classification  ckd  notckd
classification
ckd             250       0
notckd            0     150

## Feature Extraction

Gunakan tes Chi-Square untuk menentukan data yang penting untuk data kategorikal

In [9]:
# Create contigency table for each object typed data in df
for col_names in df.drop('classification', axis=1).select_dtypes(include=['object']).columns:
    # p value is calculated by chi-square test
    p_value = stats.chi2_contingency(pd.crosstab(
        df[col_names], df['classification']))[1]
    #print("P-value of %s : %E"%(col_names, p_value))
    # if p is smaller than 0.05, then we can reject the null hypothesis
    if p_value < 0.05:
        print("%s is significant with p-value %E" % (col_names, p_value))
    else:
        print("%s is not significant with p-value %E" % (col_names, p_value))

rbc is significant with p-value 7.575018E-21
pc is significant with p-value 1.191701E-16
pcc is significant with p-value 2.779587E-07
ba is significant with p-value 4.465875E-04
htn is significant with p-value 1.250081E-31
dm is significant with p-value 1.708208E-28
cad is significant with p-value 5.716852E-06
appet is significant with p-value 1.002805E-14
pe is significant with p-value 1.687786E-13
ane is significant with p-value 1.974729E-10

Karena semua kolom kategorikal ketika diuji dengan Chi Square menunjukkan fakta bahwa kolom klasifikasi dan kolom tersebut tidak saling independenden, kita bisa memasukkan semuanya dalam klasifikasi Naive Bayes

In [10]:
# t test for numerical data
for col_names in df.drop('classification', axis=1).select_dtypes(include=['float64', 'int64']).columns:
    # p value is calculated by t test
    p_value = stats.ttest_ind(df[df['classification'] == 'ckd']
                              [col_names], df[df['classification'] == 'notckd'][col_names])[1]
    #print("Mean of %s for ckd : %f while notckd : %f"%(col_names, df[df['classification'] == 'ckd'][col_names].mean(), df[df['classification'] == 'notckd'][col_names].mean()))
    #print("P-value of %s : %E"%(col_names, p_value))
    # if p is smaller than 0.05, then we can reject the null hypothesis
    if p_value < 0.05:
        print("%s is significant (p value : %E)" % (col_names, p_value))
    else:
        print("%s is not significant (p value : %E)" % (col_names, p_value))

age is significant (p value : 5.114717E-06)
bp is significant (p value : 4.674351E-08)
sg is significant (p value : 4.301695E-62)
al is significant (p value : 3.014338E-42)
su is significant (p value : 4.271137E-11)
bgr is significant (p value : 1.490430E-17)
bu is significant (p value : 6.461747E-15)
sc is significant (p value : 1.315751E-09)
sod is significant (p value : 2.685530E-15)
pot is not significant (p value : 1.685121E-01)
hemo is significant (p value : 3.408540E-75)
pcv is significant (p value : 1.700012E-67)
wc is significant (p value : 5.342427E-05)
rc is significant (p value : 2.112856E-58)

Dengan demikian, karena kolom 'pot' tidak signifikan, kita dapat menghapus kolom tersebut dari tabel untuk menghindari overfitting.

In [11]:
df = df.drop('pot', axis=1)

In [12]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,121.0,...,38.0,6000.0,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

In [13]:
categorical_col = df.select_dtypes(include=['object']).drop(
    'classification', axis=1).columns
numerical_col = df.select_dtypes(include=['float64', 'int64']).columns

In [14]:
#encoding categorical data
for col in categorical_col:
    df[col] = pd.Categorical(df[col])
    df[col] = df[col].cat.codes

In [15]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,ckd
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,121.0,...,38.0,6000.0,5.2,0,0,0,0,0,0,ckd
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,ckd
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,ckd
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,notckd
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,notckd
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,notckd
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,notckd
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,notckd

# Splitting Data

In [16]:
def split_data(X, Y, test_size=0.2):
    data_size = len(X)
    test_size = int(data_size * test_size)
    test_index = random.sample(range(data_size), test_size)
    train_index = [i for i in range(data_size) if i not in test_index]
    if type(X) == pd.DataFrame:
        X_train = X.iloc[train_index, :]
        X_test = X.iloc[test_index, :]
        Y_train = Y.iloc[train_index]
        Y_test = Y.iloc[test_index]
    else:
        X_train = X[train_index]
        X_test = X[test_index]
        Y_train = Y[train_index]
        Y_test = Y[test_index]
    return X_train, Y_train, X_test, Y_test

# Gaussian Naive Bayes

In [17]:
class NaiveBayesClassifier():
    '''
    Bayes Theorem form
    P(y|X) = P(X|y) * P(y) / P(X)
    '''

    def calc_prior(self, features, target):
        '''
        prior probability P(y)
        calculate prior probabilities
        '''
        self.prior = (features.groupby(target).apply(
            lambda x: len(x)) / self.rows).to_numpy()

        return self.prior

    def calc_statistics(self, features, target):
        '''
        calculate mean, variance for each column and convert to numpy array
        '''
        self.mean = features.groupby(target).apply(np.mean).to_numpy()
        self.var = features.groupby(target).apply(np.var).to_numpy()

        return self.mean, self.var

    def gaussian_density(self, class_idx, x):
        '''
        calculate probability from gaussian density function (normally distributed)
        we will assume that probability of specific target value given specific class is normally distributed 

        probability density function derived from wikipedia:
        (1/âˆš2pi*Ïƒ) * exp((-1/2)*((x-Î¼)^2)/(2*ÏƒÂ²)), where Î¼ is mean, ÏƒÂ² is variance, Ïƒ is quare root of variance (standard deviation)
        '''
        mean = self.mean[class_idx]
        var = self.var[class_idx]
        numerator = np.exp((-1/2)*((x-mean)**2) / (2 * var))
        np.seterr(divide='ignore', invalid='ignore')
        denominator = np.sqrt(2 * np.pi * var)
        prob = numerator / denominator
        return prob

    def calc_posterior(self, x):
        posteriors = []

        # calculate posterior probability for each class
        for i in range(self.count):
            # use the log to make it more numerically stable
            prior = np.log(self.prior[i])
            # use the log to make it more numerically stable
            conditional = np.sum(np.log(self.gaussian_density(i, x)))
            posterior = prior + conditional
            posteriors.append(posterior)
        # return class with highest posterior probability
        return self.classes[np.argmax(posteriors)]

    def fit(self, features, target):
        self.classes = np.unique(target)
        self.count = len(self.classes)
        self.feature_nums = features.shape[1]
        self.rows = features.shape[0]

        self.calc_statistics(features, target)
        self.calc_prior(features, target)

    def predict(self, features):
        preds = [self.calc_posterior(f) for f in features.to_numpy()]
        return preds

    def accuracy(self, y_test, y_pred):
        accuracy = np.sum(y_test == y_pred) / len(y_test)
        return accuracy

In [51]:
# shuffle dataset with sample
df = df.sample(frac=1, random_state=1).reset_index(drop=True)
# df shape
print(df.shape)
# set features and target
X, y = df[numerical_col], df['classification']


# # split on train and test 0.7/0.3
X_train, y_train, X_test, y_test = split_data(X, y, test_size=0.3)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(400, 24)
(280, 13) (280,)
(120, 13) (120,)

In [52]:
# train the model
x = NaiveBayesClassifier()
x.fit(X_train, y_train)

In [53]:
X_train.shape
x.classes, x.feature_nums, x.rows, x.count
x.calc_prior(X_train, y_train)
x.prior
x.calc_statistics(X_train, y_train)
x.mean
x.var
X_train

,age,bp,sg,al,su,bgr,bu,sc,sod,hemo,pcv,wc,rc
0,78.0,90.0,1.025,1.0,0.0,207.0,80.0,6.8,142.0,8.5,24.0,7900.0,3.9
2,50.0,90.0,1.015,1.0,0.0,269.0,51.0,2.8,138.0,11.5,35.0,9500.0,3.8
3,47.0,80.0,1.020,0.0,0.0,95.0,35.0,0.9,140.0,14.8,42.0,5600.0,5.5
4,54.0,100.0,1.015,3.0,0.0,162.0,66.0,1.6,136.0,10.3,33.0,11000.0,3.8
8,34.0,60.0,1.020,0.0,0.0,91.0,49.0,1.2,135.0,13.5,48.0,8600.0,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,70.0,90.0,1.015,0.0,0.0,144.0,125.0,4.0,136.0,12.0,37.0,8200.0,4.5
394,60.0,60.0,1.020,0.0,0.0,134.0,45.0,0.5,139.0,14.2,48.0,10700.0,5.6
395,37.0,100.0,1.010,0.0,0.0,93.0,19.0,1.3,146.0,15.0,44.0,4100.0,5.2
396,30.0,60.0,1.020,0.0,0.0,138.0,15.0,1.1,135.0,17.4,52.0,7000.0,5.3
397,28.0,60.0,1.025,0.0,0.0,79.0,50.0,0.5,145.0,17.6,51.0,6500.0,5.0

In [54]:
y_test.value_counts(normalize=True)

ckd       0.591667
notckd    0.408333
Name: classification, dtype: float64

In [56]:
predictions = x.predict(X_test)
print('Nilai akurasi: ', x.accuracy(y_test, predictions))

Nilai akurasi:  0.4083333333333333

# Naive Bayes

In [57]:
# Construct a priori table from categorical data
prior = pd.DataFrame(df[categorical_col].groupby(df['classification']).sum())
prior

,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane
classification,,,,,,,,,,
ckd,141.0,159.0,42.0,22.0,147.0,137.0,34.0,82.0,76.0,60.0
notckd,150.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
class NBClassifier:

    def __init__(self, X, y):
        
        # X and y denotes the features and the target labels respectively
        self.X, self.y = X, y

        # Length of the training set
        self.N = len(self.X)  

        # Dimension of the vector of features
        self.dim = len(self.X[0])  

        # To store the columns of the training set
        self.attrs = [[] for _ in range(self.dim)]

        # Output classes with the number of ocurrences in the training set
        self.output_dom = {}

        # To store every row [Xi, yi]
        self.data = []  

        for i in range(len(self.X)):
            for j in range(self.dim):
                """
                If we have never seen this value for this attr before,
                then we add it to the attrs array in the corresponding position
                """
                if not self.X[i][j] in self.attrs[j]:
                    self.attrs[j].append(self.X[i][j])
            """
            If we have never seen this output class before,
            then we add it to the output_dom and count one occurrence for now
            """
            if not self.y[i] in self.output_dom.keys():
                self.output_dom[self.y[i]] = 1
            # Otherwise, we increment the occurrence of this output in the training set by 1
            else:
                self.output_dom[self.y[i]] += 1
            # Store the row
            self.data.append([self.X[i], self.y[i]])

    def classify(self, entry):

        # Final result
        solve = None  

        # Partial maximum
        max_arg = -1  

        for y in self.output_dom.keys():

            # Probability of target labels, P(y)
            prob = self.output_dom[y]/self.N  

            for i in range(self.dim):

                # All cases with with Xi = xi in array
                cases = [x for x in self.data if x[0][i] ==
                         entry[i] and x[1] == y]  
                
                # Size of the array
                n = len(cases)

                # Final prob, P *= P(Xi = xi)
                prob *= n/self.N  

            # If we have a greater prob for this output than the partial maximum.
            if prob > max_arg:
                max_arg = prob
                solve = y

        return solve

In [26]:
# Set features and target
Xn, yn = df[categorical_col], df['classification']


#  Split on train and test 0.7/0.3
Xn_train, yn_train, Xn_test, yn_test = split_data(Xn, yn, test_size=0.3)

print(Xn_train.shape, yn_train.shape)
print(Xn_test.shape, yn_test.shape)

In [28]:
# Creating the Naive Bayes Classifier instance with the training data
nbc = NBClassifier(Xn_train, yn_train)

# Size of validation set
total_cases = len(yn_test)  

# Well classified examples and bad classified examples
good = 0
bad = 0

for i in range(total_cases):
    predict = nbc.classify(Xn_test[i])
#     print(y_val[i] + ' --------------- ' + predict)
    if yn_test[i] == predict:
        good += 1
    else:
        bad += 1

print('TOTAL EXAMPLES:', total_cases)
print('RIGHT:', good)
print('WRONG:', bad)
print('ACCURACY:', good/total_cases)

TOTAL EXAMPLES: 132
RIGHT: 56
WRONG: 76
ACCURACY: 0.42424242424242425